:root {
    --size: 400px;
    --layer_one_size: calc(var(--size) - 20px);
    --layer_two_size: calc(var(--size) - 10px);
    --layer_size_circle_overlay: calc(var(--size) - 100px);
    --data1_color: #005500;
    --data2_color: #ffa500;
    --data3_color: #cc0000;
    --data4_color: #000000;
}

* {
    font-family: Helvetica, Arial, sans serif;
    font-size: 1em;
}

.legend {
    width: inherit;
    display: block;
    background: #ffffff;
    text-align: left;
    padding: 5px 0px 5px 40px
}

.legendTitle {
    font-size: 1.4em;
}

.legendItem {
    font-size: 1.2em;
    color: #ffffff;
}

.legend_data1 {
    background-color: var(--data1_color);
}

.legend_data2 {
    background-color: var(--data2_color);
}

.legend_data3 {
    background-color: var(--data3_color);
}

.legend_data4 {
    background-color: var(--data4_color);
}


body {
    background-color: #ccccff;
} 

.container_row {
    width: var(--size);
    height: var(--size);
    background-color: #fff;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0px;
    margin: auto;

}

.layer1, .layer2{
    position: absolute;
    color: #fff;
}

.layer1 {
    display: block;
    background-color: transparent;
    width: var(--layer_one_size);
    height: var(--layer_one_size);
    z-index: 15;
    display: flex; 
    justify-content: center;
    align-items: center;      
    pointer-events: none;      
}

.innerlayer1 {
    width: var(--layer_size_circle_overlay);
    height: var(--layer_size_circle_overlay);
    text-align: center;
    background-color: #99ff99; 
    border-radius: 50%;  
    pointer-events: none;   
    color: #000000;
    display: flex; 
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    border: 3px solid blue;
}        

.layer2 {
    display: block;
    background-color: transparent;
    width: var(--layer_two_size);
    height: var(--layer_two_size);
    z-index: 5;
}

.innerlayer2 {
    display: block;
    width: var(--layer_two_size);
    height: var(--layer_two_size);
    background-color: transparent;
}  